.color-bg {
    background-color: #000418;
}

header { /*cabecalho estatico*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    padding-top: 8px;
    padding-bottom: 0;
    margin-top: 8px;
    background-color: #000418;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
}

footer p {
    text-align: center;
    font-size: 8px;
}

footer li {
    display: inline;
    list-style: none;
}

footer li a img {
    padding-top: 5px;
    height: 20px;
    padding-right: 8px;

} 